spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/millionaire_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  h2:
    console:
      enabled: false
  
  thymeleaf:
    cache: true

logging:
  level:
    root: WARN
    com.seuprojeto.millionaire: INFO

